!vendor/

vendor/*
!vendor/laravel/

vendor/laravel/*
!vendor/laravel/framework/

vendor/laravel/framework/*
!vendor/laravel/framework/src/

vendor/laravel/framework/src/*
!vendor/laravel/framework/src/Illuminate/

vendor/laravel/framework/src/Illuminate/*
!vendor/laravel/framework/src/Illuminate/Auth/
!vendor/laravel/framework/src/Illuminate/Contracts/
!vendor/laravel/framework/src/Illuminate/Foundation/

vendor/laravel/framework/src/Illuminate/Auth/*
!vendor/laravel/framework/src/Illuminate/Auth/SessionGuard.php
!vendor/laravel/framework/src/Illuminate/Auth/EloquentUserProvider.php

vendor/laravel/framework/src/Illuminate/Contracts/*
!vendor/laravel/framework/src/Illuminate/Contracts/Auth/

vendor/laravel/framework/src/Illuminate/Contracts/Auth/*
!vendor/laravel/framework/src/Illuminate/Contracts/Auth/UserProvider.php

vendor/laravel/framework/src/Illuminate/Foundation/*
!vendor/laravel/framework/src/Illuminate/Foundation/Auth/

vendor/laravel/framework/src/Illuminate/Foundation/Auth/*
!vendor/laravel/framework/src/Illuminate/Foundation/Auth/ResetsPasswords.php


/node_modules
composer.phar
composer.lock
/.idea
.idea/
.idea/*
.idea/workspace.xml
.env