  @charset "UTF-8";
/*================== Overwrite Style.min.css CSS ==================/*

/*Top Header */
.navbar-brand {width: 550px;}

.sidebar {font-family: Helvetica; !important;}
.sidebar {background: #418DD8 !important;}
.sidebar .sub-menu {background: #2B1AFF !important;}
.sidebar .sub-menu:before{background: #125acd;}
.nav > li.active > a {background: #2B1AFF !important;}
.sidebar .sub-menu>li a:hover{color: #fff;font-weight: bold; !important;}
.sidebar .sub-menu>li a {color: #fff; !important;}
.sidebar .sub-menu>li a:focus{color: #fff;font-weight: bold; !important;}
.sidebar .nav>li.expand>a {background-color:#016AE7;color: #fff;font-weight: bold;!important;}
.sidebar .nav>li>a:hover{background-color:#016AE7;color: #fff;font-weight: bold;!important;}
.sidebar .nav>li>a:focus{background-color:#016AE7 !important;}
.sidebar .nav>li>a{color:#fff !important;}
.sidebar .nav>li {font-weight: bold;color:#fff2e3 !important;}

.sidebar-minify-btn {
  margin: 10px 0;
  float: right;
  padding: 5px 20px 5px 10px !important;
  background: #0d6aad;
  color: #fff;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
.sidebar-minify-btn i {
  margin: 0 !important;
  color: #fff;
}
.page-sidebar-minified .sidebar-minify-btn i:before {
  content: '\f101';
}

.page-sidebar-minified.page-with-right-sidebar .sidebar-minify-btn i:before {
  content: '\f100';
}

/*content */
.breadcrumb {margin: 20px 0 0;}
.page-header{margin: 20px 0 0px;padding-bottom: 10px;border-bottom: 1px dotted #ccc;}

/* Overwrite Template Colors */
/*.navbar.navbar-inverse .navbar-brand, .sidebar .nav > li.active > a, .sidebar .nav > li.active > a:focus, .sidebar .nav > li.active > a:hover, .page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, .page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, .page-sidebar-minified .sidebar .nav > li.has-sub.active > a, .label.label-theme, .btn.btn-scroll-to-top {*/
/*background: #d38563 !important;*/

.navbar.navbar-inverse .navbar-brand, .sidebar .nav > li.active > a, .sidebar .nav > li.active > a:focus, .sidebar .nav > li.active > a:hover, .page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, .page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, .page-sidebar-minified .sidebar .nav > li.has-sub.active > a, .label.label-theme, .btn.btn-scroll-to-top {
background: #66ccff !important;
}

.navbar-logo,
.coming-soon .brand .logo,
.login .login-header .brand .logo {
    border-color: #DF8F19 #c47d15 #935e10; !important
}
.navbar.navbar-inverse .navbar-brand,
.sidebar .nav > li.active > a,
.sidebar .nav > li.active > a:focus,
.sidebar .nav > li.active > a:hover,
.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.label.label-theme,
.btn.btn-scroll-to-top {
    background: #f59c1a; !important
}
.navbar.navbar-inverse .navbar-brand {
    color: #fff !important;
}
.text-theme,
.sidebar .sub-menu > li.active > a:before {
    /*color: #f59c1a !important;*/
    /*color: #66ccff !important;*/
    color: #d0f507 !important;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-header {
        background: #f59c1a !important;
    }
}

/* For Creating and Removing via a table view */
.add-table caption {text-align:right;margin-top:-30px;}
.add-table thead tr th:first-child, .add-table tbody tr td:first-child{max-width:40px;}
.add-table thead tr {background:#999;}
.add-table thead tr.search {background:none;}
/* For Manage Page eg item-manage, tender-manage - This control the table for listing view*/


.list-table > thead > th, .list-table > thead > tr {
  background-color: #418DD8!important;
}

.list-table > thead > tr > th{
  color: #ffffff;
  font-weight:bold;
}

.list-table > thead > tr > th{
  border-left: 1px solid #FFF;
}
.list-table tbody{
  background-color:#FFF;
}
.list-table tbody td{
  border-left: 1px solid #FFF;
}

.list-table tbody i {
  color:#2F3B7F;
}
.list-table td a:hover i {
  opacity:0.5;
}

#list-table tfoot {
    display:table-header-group;
}

.list-table tfoot tr th input{
  color: #333133;
  font-weight:normal;
}
.list-table thead tr.search td {
  border:none;
}
.list-table thead tr.search th{
  border:none;
}
.list-table thead tr.search input{
  width:100%;
  font-weight:normal;
}

.pull-right {
  float: right !important;
}


/*Starts amcharts css*/
#linechartdiv {
  width: 100%;
  height: 550px;
}

#piechartdiv {
  width		: 100%;
  height	: 500px;
  font-size	: 11px;
}

.amcharts-chart-div a{
  display:none !important;
}

.blue .amcharts-pie-slice {
  fill: #63abf3;
}

.green .amcharts-pie-slice {
  fill: #6ce9a5;
}

.red .amcharts-pie-slice {
  fill: #f57a7d;
}

.orange .amcharts-pie-slice {
  fill: #f2d380;
}
/*End amcharts css*/


/*for large size radio buttons*/
.large_radio{
  width:20px;
  height:20px;
}

/*For Uppercase inputs*/
.uppercase_text_box{
  text-transform:uppercase;
}

/*For resp_rate > 20, show in red color*/
.red_text{
  color:red;
}

/*For center aligned elements in patient detail page*/
.center_aligned{
  text-align: center;
}

/*For centered image*/
.center_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  max-height: 200px;
}

/*For panel headings in patient detail page*/
.patient_detail_heading{
  /* background: darkorange !important; */
  background: #418DD8 !important;
}

/* start chart divs */
#visit_chart_div{
    width : 100%;
    height  : 500px;
}

#profit_chart_div{
    width : 100%;
    height  : 500px;
}
/* end chart divs */

/* start color spans shown in charts */
.colored-span{
  display:block;
  width: 20px; 
  height: 20px;
  margin-left: 45px;
}

.mo-color{
  background-color:#F0D122;
}

.musculo-color{
  background-color:#52F23B;
}

.neuro-color{
  background-color:#F72B0B;
}

.nutrition-color{
  background-color:#0B53F7;
}

.blooddrawing-color{
  background-color:#EC0BF7;
}

.packagesale-color{
  background-color:#2E2E2E;
}
/* end color spans shown in charts */

/* for min_width td in reports */
.min_width_date{
  min-width: 65px;
}
/* for min_width td in reports */